<footer class="pt-4 mb-md-4 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-3 col-md my-auto text-center">
        <span>Classified Ads</span>
      </div>
      <div class="col-3 col-md ">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Jak działa portal</a></li>
          <li><a class="text-muted" href="#">O nas</a></li>
          <li><a class="text-muted" href="#">Regulamin</a></li>
          <li><a class="text-muted" href="#">Polityka prywatności</a></li>
          <li><a class="text-muted" href="#">Pomoc</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Aplikacja mobilna</a></li>
          <li><a class="text-muted" href="#">Mapa kategorii</a></li>
          <li><a class="text-muted" href="#">Reklama</a></li>
          <li><a class="text-muted" href="#">Zasady bezpieczeństwa</a></li>
          <li><a class="text-muted" href="#">Kariera</a></li>
        </ul>
      </div>
      <div class="col-3 col-md my-auto">
        <button type="button" class="btn btn-outline-success">Google Play</button>
        <button type="button" class="btn btn-outline-success">App Store</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md my-auto text-center">
        <small class="text-muted my-auto ">&copy; {{today | date:'y'}}</small>
      </div>
    </div>
  </div>
</footer>
